body{
    background: linear-gradient(rgba(0, 0, 0, 0.952), rgba(13, 10, 10, 0.942));
    overflow-y:scroll;
    color: white;
    font-family: sans-serif;
    font-weight: 350;
    
}
header {
    background: transparent;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-right: 1%;
    align-items: center;
    margin-left: 1%;
    margin-top: -0.3%;
    position:fixed;
    top: 3px;
    left: 0;
    z-index: 3;
}

.menuFixo {
    position: fixed;
    top: 0px;
    background: linear-gradient(rgba(0, 0, 0, 0.952), rgba(13, 10, 10, 0.822));
    z-index: 3;
}

.menuFixoModal {
    position: fixed;
    top: 0px;
    background: linear-gradient(rgba(0, 0, 0, 0.952), rgba(13, 10, 10, 0.822));
 
    
}



a {
    margin-left: 2%;
}
ul:nth-child(2) {
    display: flex;
    flex-direction: row;
    margin-right: 234px;
    margin-left: 2%;
        
}

ul:nth-child(2) li{
    opacity: 0.8;
    cursor: pointer;
    
}

ul:nth-child(2) li:hover{
    transition: 0.9s;
    opacity: 0.3;
}

ul:nth-child(3) {
    display: flex;
    flex-direction: row;   
    
    align-items: center;
    padding-left: 23px;
       
}


#seta {
   padding-bottom: 6px;
    width: 12px;    
}

#li-pesquisa {
    display: flex;  
    width: 37px;
    padding-left: 170px;
    align-items: center;
    padding-right: 18px;
    margin-right: 5px;
    
}

#inputSearch {
    cursor: pointer;
    opacity: 1;
    margin-top: 2px;
    border: none;
    background-color: transparent;
    background-image: url(../profile-images/logo-pesquisa.png);
    background-position: 5px;
    background-repeat: no-repeat;
    height: 32px;
    padding-left: 30px;
    align-items: center;
    padding-top: 10px;
    width: 20px;
    text-align:right;
    
}

#faixaEtaria {
    margin-left: 3px;
    cursor: pointer;
}

#notificacao {
    margin-left: 9px;
    cursor: pointer;
    display: inline;    
    
}

.notificacao-content{
    display: none;
    margin-top: 24px;
    padding-top: 10px;
    position: absolute;
    margin-left: -426px;
    border: 1px solid black;
    overflow-y: auto;
    width: 450px;
    height: 393px;
    background-color: rgba(11, 4, 4, 0.461);
    
}

.notificacao-content a{
padding: 5px 5px;
display: block;
margin-bottom: 10px;
border-bottom: 0.5px solid rgba(255, 255, 255, 0.234);
height: 110px;
background-color: rgba(11, 4, 4, 0.461);
}

.notificacao-content a:hover {
    background-color: rgb(0, 0, 0);
}

.notificacao-content a img {
    width: 100px;
    float: left;
    margin-right: 10px ;    
    }


#checar {
    position: relative;   
    width: 25px;
    height: 25px;
    background-color: transparent;
    display: none;
}



@keyframes appear-n-scale {
    0% {
      right: 100%;
      transform: translateX(-160px) ;
      width: 20%;
    }
    20% {
      
      width: 120%;
    }
    100% {
      right: 100%;
      
      width: 200%;
    }
}

.menu-suspense{
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.834);
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
    border: 1px solid white;
    overflow: hidden;
    justify-self:center;
    margin-left: -125px;
    margin-top: 16px;
    padding-top: 1px;
    padding-bottom: 4px;
    padding-left: 5px;
    padding-right: 5px;
    width: 195px;
}

.menu-suspense :first-child {
    padding-top: 6px;
}


.menu-suspense :nth-child(6) {
    
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.39);
}

.menu-suspense :last-child {
    text-align: center;
}
.menu-suspense option{
    padding-top: 8px;
    padding-bottom: 10px;
}

.menu-suspense option:hover {
    text-decoration: underline;
}

#perfil {
    width: 30px;
    height: 30px;
    border-radius: 3px;
    margin-left: 5px;  
}

li {
list-style-type: none;
width: max-content;
margin-right: 20px;
}

#main-content {
    width: 100%;
    background: linear-gradient(180deg, rgba(255, 255, 0, 0) 0%, rgba(0, 0, 0, 0.352) 45%, rgba(0, 0, 0, 0.54) 75%, rgba(0, 0, 0, 0.789) 90%, rgba(56, 41, 41, 0.505) 100%) ;
    height: 900px;
    margin-top: 0px;
    position:sticky;
        
}
iframe {
    opacity: 0.4;
    cursor:default;
}


#main-content :first-child {
    width: 100%;
    margin-left: 0px;
    height: 100%;
}

#main-content-img {
margin-top: 10px;
float: left;
margin-right: 5px;

}

#main-content-text {
       
    margin-left: 13px;
    font-size: 20px;
}

#main-content-above {
    position: sticky;
    float: left;
    margin-top: -768px;
    margin-left: 51px;
    font-size: 20px;
    width: 450px;
    
}

#main-content-above p{
    position: sticky;    
}

#main-content-img {
    animation: image 3s;
    animation-delay: 5s;
    animation-direction: normal;
    animation-fill-mode: forwards; 
}

@keyframes image {
    0% {
        font-size:20px;
        margin-top: 20px;
        margin-bottom: 17px;
        width: 30px;
    } 

    100% {
        font-size:12px;
        margin-top: 275px;
        margin-bottom: -220px;
        width: 20px;
    }
}

#main-content-text{
    animation: reduceTextOne 3s;
    animation-delay: 5s;
    animation-direction: normal;
    animation-fill-mode: forwards;
}

@keyframes reduceTextOne {
    0% {
        font-size:20px;
        margin-top: 26px;
        margin-bottom: 17px;
        margin-left: 37px;
    } 

    100% {
        font-size:12px;
    margin-top: 280px;
    margin-bottom: -230px;
    margin-left: 23px;
    }
}
#serie-title {
    font-size: 70px;
    padding: 0;
    margin-top: -44px;
    margin-bottom: -16px;
    font-weight: 900;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    justify-content: space-between;
    animation-name: reduceText;
    animation-duration: 3s;
    animation-direction: normal;
    animation-delay: 5s;
    animation-fill-mode: forwards;
    transform-origin:right;
    animation: name duration timing-function delay iteration-count direction fill-mode;
    animation-timing-function: ease;
}

@keyframes reduceText {
    0% {
        font-size:70px;
        margin-top: -44px;
        margin-bottom: -16px;
    } 

    100% {
        font-size:35px;
        margin-top: 208px;
        margin-bottom: -44px;
    }
}


#serie-resume {
    font-size: 16px;
    font-weight: 600;
    word-spacing: 1px;    
    animation: hiddenText 1s;
    animation-delay: 5s;
    animation-direction: normal;
    animation-fill-mode: forwards;

}
@keyframes hiddenText {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}


#main-content-text::first-line {
    letter-spacing: 6px;
    font-weight: 700;
}

#playWatch {
position: absolute;

background-color: rgb(255, 255, 255);
width: 150px;
height: 45px;
font-size: 17px;
font-weight: 550;
cursor: pointer;
border-radius:5px 5px;
border: none;
padding-right: 10px;
z-index: 0;
margin-top: 10px;
}

#playWatch:hover {
    opacity: 0.8;
}

#playWatch i {
    font-size: 33px;
    vertical-align:-10%;
    margin-right: -14px;
    margin-left: 2px;
}

#moreInfo {
position: absolute;
float: inline-start;
margin-left: 166px;
background-color: rgba(109, 109, 110, 0.4);
width: 235px;
height: 45px;
font-size: 17px;
font-weight: 550;
cursor: pointer;
border-radius:5px 5px;
padding-right: 10px;
color: white;
border: none;
margin-top: 10px;

}

#moreInfo i {
font-size: 33px;
font-weight: 550;
margin-right: 2px;    
vertical-align:-10%;
}

#moreInfo:hover {
    background-color: rgba(109, 109, 110, 0.2);
}

#volVideo {
top: 520px;
position: absolute;
float: right;
margin-left: 89%;
border-radius: 50% 50%;
height: 40px;
width: 40px;
font-size: 20px;
cursor: pointer;
background-color: transparent;
border-color: rgba(255, 255, 255, 0.598);
}

#volVideo :first-child {
    color: rgba(255, 255, 255, 0.586);
}

#volVideo:hover {
    background-color: rgba(255, 255, 255, 0.03);
}

.modal-More-Info {
    width: 945px;
    height: 800px;
    background: linear-gradient(brown, rgba(0, 0, 0, 0.905) 80%);
    background-image: url(../profile-images/miniatura-netflix.png);
    background-size:auto;
    background-position-x: center;
    background-repeat: no repeat;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px 5px;
    visibility: hidden;
    position:fixed;    
    top: 38px;
    left: 277px;
    z-index: 10;
    
    }

@keyframes openModal {
    0% {
        
        transform: scale(0.4, 1);
        top: 150px;
        opacity: 0;
    }
    100% {
        transform: scale(1, 1);
        top:38px;
        opacity: 1;
        
        
     }
    
}

@keyframes closeModal {
    0% {
        transform: scale (1,1);
        top: 38px;
        opacity: 1;
    }
    100% {
        transform: scale(0.4,1);
        top: 150px;
        opacity: 0;
        
    }
}

.close-div {
    float: right;
    font-size: 35px;
    font-style: italic;
    align-items: center;
    padding-left: 7px;
    display: block;
    background-color: rgba(0, 0, 0, 0.693);
    margin-top: 15px;
    margin-right: 15px;
    border-radius: 50% 50%;
    width: 32px;
    height: 37px;
    cursor: pointer;
}

.main-image {
    background: linear-gradient(180deg, rgba(255, 255, 0, 0) 0%, rgba(0, 0, 0, 0.3)35%, rgba(0, 0, 0, 0.452) 45%, rgba(0, 0, 0, 0.64) 75%, rgba(0, 0, 0, 0.789) 90%, rgba(0, 0, 0, 0.905) 100%);
    width: 100%;
    height: 540px;
    border-radius: 5px 5px 1px 1px;
    
    
}
#playWatchTwo {
    
    margin-left: 57px;
    background-color: rgb(255, 255, 255);
    width: 150px;
    height: 45px;
    font-size: 17px;
    font-weight: 550;
    margin-top: 414px;
    cursor: pointer;
    border-radius:5px 5px;
    border: none;
    padding-right: 10px;
    
    
    }
    
    #playWatchTwo:hover {
        opacity: 0.8;
    }
    
    #playWatchTwo i {
        font-size: 33px;
        vertical-align:-10%;
        margin-right: -14px;
        margin-left: 2px;
    }

    .add-list {
    font-size: 32px;
    background-color: rgba(23, 22, 22, 0.636);
    margin-left: 4px;
    margin-right: 5px;
    border-radius: 50% 50%;
    padding: 3px;
    padding-left: 8px;
    padding-right: 0px;
    cursor: pointer;
    vertical-align: sub;
    color: rgba(255, 255, 255, 0.573);
    border: solid 3px rgba(255, 255, 255, 0.466);
    
    
}

.add-list:hover {
    border: solid 3px rgba(255, 255, 255, 1);
    color: rgba(255, 255, 255, 1);
}

#like-option {
    font-size: 32px;
    background-color: #171616a2;
    margin-left: 2px;
    border-radius: 50% 50%;
    padding: 2px;
    padding-left: 7px;
    padding-right: 9px;
    cursor: pointer;
    vertical-align: sub;
    border: solid 3px rgba(255, 255, 255, 0.466);
    
}

#like-option:hover {
    border: solid 3px rgba(255, 255, 255, 1);
    color: rgba(255, 255, 255, 1);
}

.add-list-message{
    display: none;
    margin-top: -97px;
    margin-left: 131px; 
    background: #e5e2eaec;  
    border-radius: 3px;
    width: 225px;
    color: #000000d2;
    padding: 8px 1px 8px 1px;
    position: relative;
    font-family: sans-serif;
    font-weight: 600;
    text-align: center;
    font-size: 18px;
}
.add-list-message:after{ 
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-top: 8px solid #e5e2eaec;
    bottom: -8px; 
    left: 45%;
}

.list-like {
    margin-top: -48px;
    margin-left: 212px; 
    background: #171515;  
    border-radius: 25px;
    width:max-content;
    color: rgba(0, 0, 0, 0.824);
    padding: 6px 13px 2px 14px;
    visibility: hidden; 
    position: relative;
}

#like-one {
    rotate: 180deg;
}

#like-three {
    background-color: rgba(255, 0, 0, 0.2);
}

#like-three:hover {
    background-color: rgba(255, 0, 0, 0.5);
}

.likes-menu {
    padding: 8px 8px;
    background: transparent;
    border-radius: 50%;
    display: inline;
}

.likes-menu:hover {
    background-color: rgba(73, 68, 68, 0.218);
}

.likeMessage {
    display: inline-flex;
    color: #000000d2;
      top: 347px;
      left:86px;
    position: absolute;
    width: 1000px;
    
}
.like-message {
    border-radius: 3px;
    left: 20px;
    background: #e5e2eaec;  
    width: max-content;
    padding: 8px 15px 8px 15px;
    font-family: sans-serif;
    font-weight: 600;
    text-align: center;
    font-size: 18px;
}

.like-message::after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-top: 8px solid #e5e2eaec;
    bottom: -8px; 
    left: 45%;
}

#messageOne {
    left: 440px;
    position: absolute;
    visibility: hidden;
}

#messageTwo {
    position: absolute;
    left: 400px;
    visibility: hidden;
}
#messageTwo::after {
    left: 40%;    
}

#messageThree {
    margin-left: -40px;
    visibility: hidden;  
}
#messageThree::after {
    left: 40%;

}
@keyframes openLikeButtons {
    0% {
        transform: scale(0,1); 
        opacity: 0;     
    }

    100% {
        transform: scale(1,1);
        opacity: 1;
    }
}

@keyframes closeLikeButtons {
    0% {
        transform: scale(1,1);  
        opacity: 1;    
    }

    50% {
        transform: scale (0.5,1);
        opacity: 0.5;
    }

    100% {
        transform: scale(0,0);
        opacity: 0;
    }
}

.second-div {
    display: flex;
    flex-wrap: nowrap;
    background: rgba(0, 0, 0, 0.905);
}

.div-descriptions {
    margin-left: 59px;
    word-spacing: 2px;
    width: 55.5%;
    
}

#description-one {
    
    width: max-content;
}


.div-descriptions :first-child :first-child{
    color: green;
    font-weight: 600;
    
}

.div-descriptions :first-child :nth-child(2) {
    background-color: blue;
    padding: 7px;
    border-radius: 5px;
    font-weight: 600;
    font-size: 18px;
}

#description-two {
    margin-top: 43px;
    width: 100%;
}

.div-descriptionsTopics {
   width: 27%;
   margin-left: 4%;
vertical-align: super;
}

.word-topic {
    color: rgba(128, 128, 128, 0.767);
}